@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
    font-family: 'Questrial', sans-serif;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}

aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #C2185B;
}

.btn-primary{
    background-color: #C2185B;
    border-color: #C2185B;
}

button {
    cursor: pointer;
}

.slide {
    /* width: 70%;
    height: 40%; */
    max-width: 1024px;
    height: 576px;
    overflow: hidden;
    transition: all 0.4s;
}

.slides {
    /* width: 5120px; */
    display: flex;
}

.images img{
    width: 1024px;
    height: 576px;
}

#atual {
    margin-left: 0;
    transition: all 2s;
}

.slide-btn {
    display: none;
}

.slide-btn:hover {
    transform: scale(1.5);
}

#voltar {
    top: 50%;
    left: 15%;
}

#avancar {
    top: 50%;
    right: 15%;
}

.balls {
    display: flex;
    justify-content: center;
    margin-top: -45px;
}

.balls div {
    transition: all 0.5s;
    border: 3px solid #fff;
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.balls div:hover {
    background: #fff;
}

.imageAtual {
    transition: all 0.5s;
    background: #fff;
}

main.login {
    width: 400px;
}

section.full{
    width: 100%;
    min-height: 80%;
    padding: 50px 20px;
}

article.evento {
    width: 350px;
}

/* div#divAtual.container.d-flex.justify-content-center.align-items-center {
    padding: 10px !important;
    margin: 0%;
    width: 100% !important;
} */

article.card{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px !important;
}

article.p-5 {
    margin: 0% !important;
    padding: 10px !important;
}

article button.btn.btn-primary{
    width: 150px !important;
    margin: 10px !important;
}

.modal-container {
    background-color: rgba(0, 0,  0, 0.3);
    position: fixed;
    display: none;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


.modal-class {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 30px;
    width: 50%;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: flex;
}

.modal-conteudo {
    width: 95%;
}

#close{
    width: 5%;
    height: 5%;
    background-color: #fff;
    color: black;
    font-size: 20px;
}

#close:hover {
    color: red;
}

footer nav ul{
    list-style: none;
    display: flex;
}

footer nav ul li  {
    padding: 10px;
}

/*Reservas*/

.form-reservas {
    border-bottom: 2px solid #000;
    padding-bottom: 25px;
}

/* Modal reservas */
#reservas {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.form-input {
    width: 50%;
    margin-top: 20px;
}

.form-input input {
    width: 80%;
}

.form-input select {
    width: 80%;
    padding: 5px 3px;
}

#form-buttons {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    gap: 10px;
}

#form-buttons button, #close {
    border: none;
}

#form-buttons button {
    border-radius: 10px;
    padding: 5px 10px;

}


#form-buttons button:nth-child(2) {
    background-color: #C2185B;
    color: #fff;
}

@media only screen and (max-width: 1024px) {
    .balls {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    #banner-rotativo {
        display: none !important;
    }
}
